In [8]:
import pandas as pd

# Load the Excel file
file_path = r"C:\Users\clint\Desktop\data\data\CompStak Data Dictionary (3).xlsx"
data = pd.ExcelFile(file_path)

data

In [9]:
# Read and display the single sheet in the Excel file
sheet_name = data.sheet_names[0]
print(f"Sheet name: {sheet_name}")

# Load the data into a DataFrame
df = pd.read_excel(data, sheet_name=sheet_name)

# Display the first several rows of the data
print(f"\nPreview of the data (first 10 rows):")
display(df.head(10))

# Display basic information about the dataframe
print("\nDataframe info:")
df.info()

print("\nDataframe shape (rows, columns):", df.shape)

# Display summary statistics
print("\nSummary statistics for numerical columns:")
display(df.describe())

Sheet name: Sheet1

Preview of the data (first 10 rows):

C:\Users\clint\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,Standard Data Feeds,NaN,NaN,Premium Add Ons,NaN
1,Field,Data Type,Definition,Example Value,Lease,Sales,Property,Tenant,Property
2,Lease Id,INTEGER,The lease comp unique identifier generated by ...,1008,X,NaN,NaN,NaN,NaN
3,Sales Master Id,INTEGER,The sales comp unique identifier generated by ...,1462,NaN,X,NaN,NaN,NaN
4,Property Id,INTEGER,The property unique identifier generated by Co...,1508,X,X,X,NaN,NaN
5,Street Address,STRING,The street address of the property where the l...,44259 Nobel Drive,X,X,X,NaN,NaN
6,City,STRING,The city of the property where the lease is si...,Fremont,X,X,X,NaN,NaN
7,State,STRING,The state of the property where the lease is s...,CA,X,X,X,NaN,NaN
8,Zip Code,INTEGER,The zip code of the property where the lease i...,94107,X,X,X,NaN,NaN
9,Country,STRING,The country that the leased property is in,United States of America,X,X,NaN,NaN,NaN

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  155 non-null    object
 1   Unnamed: 1  155 non-null    object
 2   Unnamed: 2  155 non-null    object
 3   Unnamed: 3  155 non-null    object
 4   Unnamed: 4  92 non-null     object
 5   Unnamed: 5  85 non-null     object
 6   Unnamed: 6  18 non-null     object
 7   Unnamed: 7  20 non-null     object
 8   Unnamed: 8  7 non-null      object
dtypes: object(9)
memory usage: 11.1+ KB

Dataframe shape (rows, columns): (156, 9)

Summary statistics for numerical columns:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
count,155,155,155,155,92,85,18,20,7
unique,155,8,155,140,3,2,2,3,2
top,Field,STRING,Definition,True,X,X,X,X,X
freq,1,80,1,8,90,84,17,18,6

In [10]:
# Save the DataFrame as a CSV file
output_path = r"C:\Users\clint\Desktop\compstak-analysis\Data\data_dictionary.csv"

# Save the DataFrame to CSV
df.to_csv(output_path, index=False)

print(f"DataFrame successfully saved to: {output_path}")

DataFrame successfully saved to: C:\Users\clint\Desktop\compstak-analysis\Data\data_dictionary.csv